docutils
breathe
commonmark
recommonmark
xcffib==1.5.0
# version display needed
sphinx-rtd-theme==2.1.0rc2
Sphinx
sphinx_markdown_tables
sphinxcontrib-wavedrom
sphinxcontrib-plantuml
sphinxcontrib-drawio
sphinxcontrib-svg2pdfconverter
sphinxcontrib-spelling
