docutils
breathe
commonmark
recommonmark
xcffib==1.5.0
Sphinx
sphinx-rtd-theme
sphinx_markdown_tables
sphinxcontrib-wavedrom
sphinxcontrib-plantuml
sphinxcontrib-drawio
sphinxcontrib-svg2pdfconverter
sphinxcontrib-spelling
